body,
html {
  width: 100%;
  height: 100%;
  font-family: 'The Times Roman', sans-serif;
  background: url(header1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*background-color: dadada;*/

}


h1{
    color: yellow;
}

hr {
    
    border-color: orange;
    border-width: 3px ;
    max-width: 65px;

  
}
.buffer{
    height: 10rem;
}

.btn{
   font-weight: 700;
   border-radius: 300px;
   text-transform: uppercase;
   background-color: orange;
   border-color: orange;
}

.btn-xl{
  padding: 1rem 2rem;

}